apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ .Values.topology.api.name }}
  labels:
    helm.sh/chart: {{ include "moira.chart" . }}
    app.kubernetes.io/name: {{ .Values.topology.api.name }}
    app.kubernetes.io/instance: {{ .Release.Name }}
spec:
  replicas: {{ .Values.topology.api.replicas }}
  selector:
    matchLabels:
      app.kubernetes.io/name: {{ .Values.topology.api.name }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  template:
    metadata:
      annotations:
        checksum/config: {{ include (print $.Template.BasePath "/api-configmap.yaml") . | sha256sum }}
      labels:
        app.kubernetes.io/name: {{ .Values.topology.api.name }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      containers:
        - name: {{ .Values.topology.api.name }}
          image: {{ .Values.topology.api.image }}
          ports:
            - name: http
              containerPort: 8081
          livenessProbe:
            httpGet:
              path: /api/health/notifier
              port: http
            initialDelaySeconds: 10
            timeoutSeconds: 10
          readinessProbe:
            httpGet:
              path: /api/health/notifier
              port: http
            initialDelaySeconds: 10
            timeoutSeconds: 10
          volumeMounts:
            - mountPath: /etc/moira
              name: {{ .Values.topology.api.name }}-volume
      volumes:
        - name: {{ .Values.topology.api.name }}-volume
          configMap:
            name: {{ .Values.topology.api.name }}-configmap
            items:
              - key: api.yml
                path: api.yml